# === USER SERVICE CONFIG ===
USER_PORT=8083
USER_DB_HOST=127.0.0.1
USER_DB_PORT=5432
USER_DB_NAME=users_db

USER_POSTGRES_DB_USER=postgres
USER_POSTGRES_DB_PASSWORD=test

USER_DB_USER=app_user
USER_DB_PASSWORD=app_user_password
USER_DB_URL=postgres://${USER_DB_USER}:${USER_DB_PASSWORD}@${USER_DB_HOST}:${USER_DB_PORT}/${USER_DB_NAME}?sslmode=disable

USER_MIGRATION_DB_USER=migration_user
USER_MIGRATION_DB_PASSWORD=migration_user_password
USER_MIGRATION_DB_URL=postgres://${USER_MIGRATION_DB_USER}:${USER_MIGRATION_DB_PASSWORD}@${USER_DB_HOST}:${USER_DB_PORT}/${USER_DB_NAME}?sslmode=disable

# === PRODUCT SERVICE CONFIG ===
PRODUCT_PORT=8082
PRODUCT_DB_HOST=127.0.0.1
PRODUCT_DB_PORT=5432
PRODUCT_DB_NAME=products_db

PRODUCT_POSTGRES_DB_USER=postgres
PRODUCT_POSTGRES_DB_PASSWORD=test
PRODUCT_DB_USER=app_product
PRODUCT_DB_PASSWORD=app_product_password
PRODUCT_DB_URL=postgres://${PRODUCT_DB_USER}:${PRODUCT_DB_PASSWORD}@${PRODUCT_DB_HOST}:${PRODUCT_DB_PORT}/${PRODUCT_DB_NAME}?sslmode=disable

PRODUCT_MIGRATION_DB_USER=migration_product
PRODUCT_MIGRATION_DB_PASSWORD=migration_product_password
PRODUCT_MIGRATION_DB_URL=postgres://${PRODUCT_MIGRATION_DB_USER}:${PRODUCT_MIGRATION_DB_PASSWORD}@${PRODUCT_DB_HOST}:${PRODUCT_DB_PORT}/${PRODUCT_DB_NAME}?sslmode=disable

# === ORDER SERVICE CONFIG ===
ORDER_PORT=8081
ORDER_DB_HOST=127.0.0.1
ORDER_DB_PORT=5432
ORDER_DB_NAME=orders_db

ORDER_POSTGRES_DB_USER=postgres
ORDER_POSTGRES_DB_PASSWORD=test
ORDER_DB_USER=app_order
ORDER_DB_PASSWORD=app_order_password
ORDER_DB_URL=postgres://${ORDER_DB_USER}:${ORDER_DB_PASSWORD}@${ORDER_DB_HOST}:${ORDER_DB_PORT}/${ORDER_DB_NAME}?sslmode=disable

ORDER_MIGRATION_DB_USER=migration_order
ORDER_MIGRATION_DB_PASSWORD=migration_order_password
ORDER_MIGRATION_DB_URL=postgres://${ORDER_MIGRATION_DB_USER}:${ORDER_MIGRATION_DB_PASSWORD}@${ORDER_DB_HOST}:${ORDER_DB_PORT}/${ORDER_DB_NAME}?sslmode=disable

# === API GATEWAY CONFIG ===
GATEWAY_PORT=8080